.WorkSection1{
     width: 100%;
     height: 350vh;
     background: #000;
     .containerSection{
          display: flex;
          width: 1340px;
          margin: 0 auto;
          padding-bottom: 10%;
          .left{
               width: 50%;
               color: #fff;
               h2{
                    font-family: "Anton";
                    font-size: 100px;
                    padding: 10% 0 0;
               }
               dl{
                    dt{
                         font-size: 32px;
                         margin:30px 0 5px;
                    }
                    dd{font-size: 32px;}
               }
          }
          .right{
               width: 50%;
               color: #fff;
               dl{
                    dt{padding: 80% 0 0;font-size: 30px;font-family:"KBO-Dia-Gothic_bold";}
                    dd{font-size: 16px; line-height: 1.3;margin-top: 50px;
                         &:last-child{
                              margin-top: 30px;
                         }
                         a{
                              display: inline-block;
                              color: #8800ff;
                              font-family: "anton";
                              font-size: 26px;
                         }
                         span{
                              color:#ffc300;
                              font-weight: bold;
                              display: inline-block;
                              vertical-align: baseline;
                         }
                         p{
                              display: block;
                              position: relative;
                              margin: 5px 0;
                              &::before{
                                   content: "";
                                   position: absolute;
                                   top:0;
                                   left: -10px;
                                   width: 5px;
                                   height: 5px;
                                   background: #ffc300;
                              }
                         }
                    }
               }
          }
     }//container : END

}