.WorkSection2{
     width: 100%;
     height: 350vh;
     background: #000;
     .containerSection{
          width: 1340ㅔㅌ;
          margin: 0 auto;
          padding-bottom: 10%;

     }//container : END

}